extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{locals.project_name}

        p #{locals.description}

      .project-tech-links-box.box
        a.btn-link(href=`${locals.live_link}` target="_blank") View Project
        a.btn-link(href=`${locals.github_link}` target="_blank") GitHub Repo

        h6 Technologies
        ul

          each skill in locals.technologies
            li #{skill}

    .project-img-box.box

      div.project-demo
        iframe.project-embed(src=`${locals.live_link}`)


      img.project-img(src=`${locals.image_urls[1]}`, alt=`${locals.project_name}`)
      img.project-img(src=`${locals.image_urls[2]}`, alt=`${locals.project_name}`)
      img.project-img(src=`${locals.image_urls[3]}`, alt=`${locals.project_name}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
